
@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


/* Reset styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: 'Reem Kufi', sans-serif; /* Apply your custom font */
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  scroll-behavior: smooth;
}

